{% extends 'base.html' %}
{% load static %}
{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">News</a></li>
                    <li class="breadcrumb-item active">News details</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- Single News Start-->
        <div class="single-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="sn-img">
                            <img src=" {{ news.image.url }}" />
                        </div>
                        <div class="sn-content">
                            <a class="sn-title" href="">{{ news.title }}</a>
                            <a class="sn-date" href=""><i class="far fa-clock"></i>{{ news.published_time }}</a>
                            <i class="bi bi-eye"></i> Ko'rishlar soni : {{ news.view_count}}
                            <br>
                            <p>
                                {{ news.descripton }}
                            </p>
                            <a href="{% url 'delete' news.pk %}"> O'chirish</a>
                            <br>
                            <br>
                            <a href="{% url 'update' news.pk %}"> Tahrirlash</a>
                        </div>
                    </div>
                </div>
                                <div class="row">
                    {% if all_comments%}
                    {% for comment in all_comments %}
                    <div class="col-md-4">
                        <div class="sn-comment">
                            <div class="sn-comment-content">
                                <a class="sn-comment-author" href="">{{ comment.user.username }} - {{ comment.created_at }}</a>
                                <p>{{ comment.comment }}</p>
                            </div>2
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>Commentlar mavjud emas</p>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea class="form-control" rows="5" placeholder="Xabaringizni yozing" name="comment" required></textarea>
                            </div>
                            <div><button class="btn btn-primary" type="submit">Xabarni Yuborish</button></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- Single News End-->
        
        
{% endblock %}